/* Added Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Common and Share Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
:root {
    --orange: #FEA301;
    --sky-blue: #01ACFD;
    --blue-green: #05D4DF;
    --light-blue: rgba(93, 88, 239, 1);
    --black: #111111;
}


/* Header Styles */
