/* Added Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Common and Share Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
:root {
    --orange: #FEA301;
    --sky-blue: #01ACFD;
    --blue-green: #05D4DF;
    --light-blue: rgba(93, 88, 239, 1);
    --black: #111111;
}
.orange {
    color: var(--orange) !important;
}
.sky-blue {
    color: var(--sky-blue) !important;
}
.blue-green {
    color: var(--blue-green) !important;
}
.light-blue {
    color: var(--light-blue) !important;
}
.black {
    color: var(--black) !important;
}
/* Background Colors */
.bg-color-orange {
    background-color: var(--orange) !important;
}
.bg-color-sky-blue {
    background-color: var(--sky-blue) !important;
}
.bg-color-blue-green {
    background-color: var(--blue-green)!important;
}
.bg-color-light-blue {
    background-color: var(--light-blue) !important;
}
.bg-color-gardient1 {
    background: #DEF5FF;
    background: linear-gradient(180deg, rgba(222, 245, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
.bg-color-gardient2 {
    background: #FFF4DC;
    background: linear-gradient(180deg, rgba(255, 244, 220, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
.bg-color-gardient3 {
    background: #F2E8FF;
    background: linear-gradient(180deg, rgba(242, 232, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}



.btn {
    display: inline-block;
    padding: 10px 50px;
    border-radius: 5px;
    background-color: var(--orange);
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.section-heading {
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
    text-align: center;
    margin-bottom: 80px;
}
section {
    padding: 60px 0;
}




/* Header Styles */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 85%;
    margin: 0 auto;
}
header nav .logo {
    display: flex;
    align-items: center;
}
header nav .logo .brand-img img {
    width: 60px;
    height: 60px;
}
header nav .logo .brand-name {
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
    margin-left: 10px;
    text-decoration: none;
    transition: color 0.3s ease;
    text-transform: uppercase;;
}

/* mainmenu style for */
header nav .nav-links {
    display: flex;
    gap: 20px;
}
header nav .nav-links li {
    list-style: none;
    margin-left: 30px;
    position: relative;
}
header nav .nav-links li a {
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 1.25rem;
}

/* style for menu-right */
header nav .menu-right {
    display: flex;
    align-items: center;
    gap: 20px;
}
.menu-toggle {
    display: none;;
}

.menu-toggle i {
    display: inline-block;
    /* min-height: 30px;
    min-width: 30px; */
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
}

/* style for hero section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}
.hero .hero-content {
    max-width: 660px;
}
.hero .hero-content h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 20px;
}

.hero-btn {
    background: #111111 !important;
    margin-top: 30px;
}

/* main section */
main {
    width: 85%;
    margin: 0 auto;
    padding: 20px 0;
}  
.curriculmn {
    background: url(../assets/bg.png) no-repeat center center/cover;
}

/* curriculmn section related style code */
.curriculmn-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 20px;
    text-align: center;
}
.curriculmn-box {
    background-color: #fff;
    padding: 60px 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.curriculmn-box img {
    width: 120px;
    height: 120px;
    margin-bottom: 30px;
}
.curriculmn-box h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 10px;
    line-height: 30px;
}
.curriculmn-box p {
    font-size: 1rem;
    color: #808080;
    margin-bottom: 20px;
    line-height: 28px;
    padding: 20px;
}
.curriculmn-box .read-more {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 30px;
}

.section-btn-next {
    text-align: center;
    margin-top: 80px;
}
.section-btn-next a {
    display: inline-block;
    border-radius: 50%;
    background-color: var(--orange);
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 0 5px;
    height: 60px;
    width: 60px;
}
.section-btn-next a i {
    display: inline-block;
    font-size: 2rem;
    padding: 20px;
     color: #fff;
     margin-left: -5px;
     margin-top: -4px;
}


/* our stories section */
.our-stories {
    background: url(../assets/bg.png) no-repeat center center/cover;
}

.stories-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    margin-top: 20px;
}
.story-box {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
}
.story-box:hover {
  transform: translateY(-5px);
}
.story-box img {
  width: 100%;
  height: auto;
  display: block;
}
.story-box .story-content {
    padding: 20px;
}

.story-box-img {
    position: relative;
}

.story-box-img .date {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 50px;
  font-size: 1rem;
  color: #fff;
  background-color: var(--black);
  position: absolute;
  left: 10%;
  bottom: -20px;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.story-box.large-item {
  grid-column: span 2;
  grid-row: span 2;
  /* height: 100%; */
}

.section-btn {
    text-align: center;
    margin-top: 60px;
}
.section-btn a {
    background: var(--black);
    color: #fff;
    text-align: center;
}


/* footer section */
footer {
    background-color: #01ACFD;
    color: #fff;
    padding: 5% 10%;
}
footer .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}
footer .footer-container .footer-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-logo {
    display: flex;
    align-items: center;
}
.footer-logo img {
    width: 80px;
    height: 80px;
}
 .footer-logo .brand-name {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-logo .brand-name span {
    display: block;
}

.footer-content p {
    font-size: 1.25rem;
    font-weight: 400;
}


.footer-links {
    padding-left: 80px;
}
.footer-links h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 30px;
}
.footer-links ul {
    display: flex;
    flex-direction: column;
}
.footer-links ul li {
    list-style: none;
    margin-top: 20px;
}
.footer-links ul li a {
    text-decoration: none;
    color: #fff;
    display: inline-block;

}


.footer-social-icon h3 {
    font-size: 1.625rem;
    margin-bottom: 40px;
}

.social-icon-box {
    display: flex;
    gap: 20px;
}


/* marquee-container css */
.marquee-container {
    margin-top: 40px;
}
.marquee-container marquee {
    font-size: 2rem;
    font-weight: 600;
    color: var(--orange);
}

/* Media Queries */
@media  (max-width: 768px) {
    header nav {
        border-bottom: 1px solid var(--orange);
        width: 100%;
    }
    header .logo .brand-name {
        display: none;
    }
    header nav .nav-links {
        display: none;
    }
    
    header nav .menu-toggle {
        display: block;
    }
    header nav .menu-right .menu-btn {
        display: none;
    }
    header nav .logo .brand-img img {
        width: 40px;
        height: 40px;
    }
    /* hero section */
    .hero {
        flex-direction: column-reverse;
        text-align: center;
    }
    .hero .hero-content h1 {
        margin-top: 20px;
        font-size: 2.5rem;
    }

    /* curriculmn */
    section {
        padding: 40px 0;
    }
    .curriculmn-content {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .curriculmn-box {
        padding: 20px;
    }
    .curriculmn-box img {
        width: 80px;
        height: 80px;
    }
    .curriculmn-box h3 {
        font-size: 1.25rem;
    }
    .curriculmn-box p {
        font-size: 0.9rem;
        padding: 10px;
    }
    .section-btn-next {
        display: none;
    }

    /* our stories */
    .story-box.large-item {
        display: none;
    }
    .stories-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .section-btn {
        display: none;
    }

    /* footer */
    footer .footer-container {
        grid-template-columns: 1fr;
    }
}


  
